<footer class="page-footer white hide">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text-color">Footer Content</h5>
        <p class="text-color">
          You can use rows and columns here to organize your footer content.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="text-color">Links</h5>
        <ul>
          <li><a class="text-color" href="#">Link 1</a></li>
          <li><a class="text-color" href="#">Link 2</a></li>
          <li><a class="text-color" href="#">Link 3</a></li>
          <li><a class="text-color" href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container text-color">
      © 2014 Copyright
    </div>
  </div>
</footer>
