<div>
  <nav class="grey lighten-4">
    <div class="valign-wrapper row">
      <div class="valign-wrapper col s2">
        <h4><i class="material-icons black-text menu">menu</i></h4>
      </div>
      <div class="valign-wrapper col s7">
        <h4 class="green-text">sustainAbill</h4>
      </div>
      <div class="hide-on-med-and-down valign-wrapper col s2">
        <img src="\assets\img\nav\profil.png" class="profil">
      </div>
      <div class="col s4">
      </div>

    </div>
  </nav>
</div>
