<div>
  <nav class="grey lighten-4">
    <div class="">
      <div class="row vertical-align">
        <div class="col s2">test</div>
        <div class="col s8">
          <span>
            <i class="material-icons black-text menu">menu</i>
            <h4 class="green-text">sustainAbill</h4>
          </span>
          <span>
            <img src="\assets\img\nav\profil.png" class="profil">
          </span>
        </div>
        <div class="col s2">
          test
        </div>
      </div>
    </div>
  </nav>
</div>
