#background-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;

  img {
    min-width: 100%;
    height: 450px;
  }
}


#facts {
  padding: 120px 0;
  font-weight: lighter;

  .factheadline {
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 400;
    color: #DADADA;
    ;
  }

  .fact {
    margin: 0px;
    font-weight: 200;
  }
}

#content {
  padding: 20px;
  padding-top: 40px;
  box-shadow: 0px 3px 25px rgb(0, 0, 0, 0.15);


  #content-header {
    .row-v-align {}

    a {
      text-align: center;
      font-size: 18px;
      border: 1px;
      border-style: solid;
      border-color: #83AA5C;
      border-radius: 36px;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 150px;
    }

    h4,
    h5 {
      padding: 0px;
      margin: 0px;
    }

    #content-body {

      hr {
        color: #F5F5F5;
      }

      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      #content-table {
        .col {
          padding: 0px;
        }

        thead {
          font-weight: bold;
        }

        tr {
          height: 60px;
        }
      }

      #content-stats {}
    }
  }
}

#stats {
  max-width: 100%;
}
