<!-- Background image Todo: funktioniert noch nicht-->
<div id="background-img">
  <img src="\assets\img\background\background.png" alt="">
</div>


<!-- Row with facts -->
<div id="facts" class="container">
  <div class="row white-text">
    <div class="col s12 l4 center">
      <h3 class="factheadline">
        My Paper Savings
      </h3>
      <h2 class="fact">
        {{sumTotalReciepts}} m
      </h2>
    </div>
    <div class="col s12 l4 center">
      <h3 class="factheadline">
        sustainAbill Paper Savings
      </h3>
      <h2 class="fact">
        234,12 km
      </h2>
    </div>
    <div class="col s12 l4 center">
      <h3 class="factheadline">
        sustainAbill CO2 Savings
      </h3>
      <h2 class="fact">
        120,12 t
      </h2>
    </div>
  </div>
</div>


<!-- Start of White Container with table -->
<div id="content" class="container white ">
  <!--Nav over the table-->
  <div id="content-header" class="row row-v-align">
    <div class="col s12 m6">
      <h4 class="green-text">My Reciepts</h4>
    </div>
    <div class="col m6 hide-on-small-and-down ">
      <a href="#" class="right green-text">
        <h5>Details</h5>
      </a>
    </div>
  </div>

  <!--Table and content on the right-->
  <div id="content-body">
    <hr>
    <div class="row">
      <!-- table -->
      <div id="content-table" class="col s12 l8">
        <div>
          <table class="striped">
            <thead>
              <td>
                <h5>Date</h5>
              </td>
              <td>
                <h5>Shop</h5>
              </td>
              <td>
                <h5>Category</h5>
              </td>
              <td>
                <h5>Spending</h5>
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let reciepts of sortedlistOfReciepts">
                <td>
                  {{ reciepts.date }}
                </td>
                <td>{{ reciepts.shop }}</td>
                <td>{{ reciepts.category }}</td>
                <td>{{ reciepts.spending }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- content on the right -->
      <div id="content-stats" class="col s12 l4">
        <h4 class="green-text center">Spendings</h4>
        <hr class="side">
        <img id="stats" src="\assets\img\stats.png" alt="">
        <h4 class="green-text center">CO2 Saving Tip</h4>
        <hr class="side">
        <p>Choose products without packaging or with recyclable packaging at the grocery store to reduce your Carbon
          Footprint even more.</p>
      </div>
    </div>
  </div>

</div>
