<div class="image">
  <img src="\assets\img\background\background.png" class="responsive-img">
</div>

<div class="container white overlap">
  <div class="row">
    <div class="col s12 m9">
      <div>
        <h4>Reciepts</h4>
        <table>
          <thead>
            <td>Date</td>
            <td>Shop</td>
            <td>Category</td>
            <td>Spending</td>
          </thead>
          <tbody>
            <tr *ngFor="let reciepts of listOfReciepts">
              <td> {{ reciepts.date }} </td>
              <td>{{ reciepts.shop }}</td>
              <td>{{ reciepts.category }}</td>
              <td>{{ reciepts.spending }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col s12 m3">
      <p class="margin">Some Content</p>
      <p class="margin">Some Content</p>
      <p class="margin">Some Content</p>
    </div>
  </div>
</div>
