img {
  width: 100%;
}


hr {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #F5F5F5
}



#content {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .col {
    padding: 0px;
  }

  thead {
    font-weight: bold;
  }

  tr {
    height: 60px;
  }
}
