<div class="container">
  <div class="row">
    <div class="col s12 m7">
      <div>
        <h4>Gratulation!</h4>
        <p>You saved your first 3 paper bills!</p>
      </div>
      <div class="card-panel white">
        <h4>Reciepts</h4>
        <table>
          <tbody>
            <tr>
              <td>
                <h6>17 JAN</h6>
              </td>
              <td>Rewe</td>
              <td>19.45€</td>
            </tr>
            <tr>
              <td>
                <h6>20 JAN</h6>
              </td>
              <td>Coffee</td>
              <td>2.50€</td>
            </tr>
            <tr>
              <td>
                <h6>05 FEB</h6>
              </td>
              <td>Bakery</td>
              <td>5.10€</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col s12 m5">
      <p class="margin">Some Content</p>
      <p class="margin">Some Content</p>
      <p class="margin">Some Content</p>
    </div>
  </div>
</div>
